<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240464915606-pf0anp26iu5vi1a2luhqcsoremrhcf5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240464915606-pf0anp26iu5vi1a2luhqcsoremrhcf5e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>240464915606-to6qve12fm2n9a4tanlr2psr3fkroatk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClen9JjdaxsOSUL399JchjE2KCa4Kp1ic</string>
	<key>GCM_SENDER_ID</key>
	<string>240464915606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educationKiwiz</string>
	<key>PROJECT_ID</key>
	<string>education-kiwiz</string>
	<key>STORAGE_BUCKET</key>
	<string>education-kiwiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240464915606:ios:f71c468d31d1eae32da6b7</string>
</dict>
</plist>